<html>
    <head>
        <title>Street Dweller</title>
        <link rel="stylesheet" href="../assets/stylesheets/styles_description.css" type="text/css" media="all"/>
    </head>
    <body>
        <header>
            <h1>StreetDweller</h1>
        </header>
        <section>
            <article>
                <h2>Descripción</h2>
                <div>
                    <p>APLICACION PARA CENSAR HABITANTES DE CALLE Y DIRECCIONARLOS A LAS ENTIDADES DE AYUDA, CENTROS DE ACOPIO Y RECEPCION DE DONACIONES, REFUGIOS, COMEDORES COMUNALES.
                    </p>
                </div>

            </article>
        </section>
        <section>
            	<nav class="menuCSS3">
                        <ul>
                            <li><a href="#">Backend</a>
                                <ul>
                                    <li><a href="https://github.com/jairofranco/Cencabo-150-004/blob/master/modelo_datos.docx">Descripción</a> </li>
                                </ul>
                            </li>
                            <li><a href="#">App</a>
                                <ul>
                                    <li><a href="https://github.com/jairofranco/Cencabo-150-004/blob/master/PROYECTO_INCLUYENTE_SW.docx">Descripción</a></li>
                                </ul>
                            </li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contacto</a>
                                <ul>
                                    <li><a href="#">Email</a></li>
                                    <li><a href="#">Mapa</a></li>
                                </ul>
                
                            </li>
                        </ul>
                    </nav>
        </section>
        <footer>Copy right @2018</footer>
    </body>
</html>